@use '@/shared/styles/variables' as v;
@use 'mixins' as *;

.root {
  @include flex-col($gap: 24px);
  padding: 32px;
  border: 1px solid v.$color-border-soft;
  border-radius: v.$radius-lg;
  background: v.$color-background;
}
